<% provide(:title, "Contact") %>
<div class="center jumbotron">
  <h1>Help</h1>
  <p>
    Currently in development!
  </p>
</div>
<%= link_to image_tag("https://cdn2.iconfinder.com/data/icons/social-18/512/Youtube-128.png", alt: "SilentRush Youtube"),
            'https://www.youtube.com/channel/UCPX7XGzTNf-Rt_c_QLTuWEQ/videos' %>
<%= link_to image_tag("http://drafterita.com/data/uploads/twitch-big-logo.png", alt: "SilentRush Twitch"),
            'http://www.twitch.tv/silentrush_' %>
