<div class="center jumbotron">
  <%= form_tag("/tournaments", method: "post") do %>
      <div class="form-group">
        <%= label_tag(:url, "Tournament URL") %>
        <%= text_field_tag(:url) class: "form-control" %>
      </div>
      <%= submit_tag("Create") class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
