// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:link {
  color: #03559E;
}
a:visited {
  color: #243CB7;
}
a:hover {
  color: #006680;
  text-decoration: none;
}
a:active {
  color: #80e5ff;
}

.table.main {
  tr:hover {
    background-color: rgba(76, 175, 80, 0.12)
  }
  tr.clickable-row.even:hover  {
    background-color: rgba(76, 175, 80, 0.12)
  }
  tr.clickable-row.even {
      background-color: #F9F9F9
  }
  th {
    background-color: #3584B9;
    color: white;
  }
}

.table.inner {
  tr:hover {
    background-color: rgba(76, 175, 80, 0.12)
  }
  th {
    background-color: #4CAF50;
    color: white;
  }
}

.table {
  tr:hover {
    background-color: rgba(76, 175, 80, 0.12)
  }
  th {
    background-color: #3584B9;
    color: white;
  }
}
