// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: #006680;
  text-decoration: none;
}
a:active {
  color: white;
}

a.tlink {
  color:#125988;
}
a.tlink:hover {
  color:#4BA1DA;
}

.table.main {
  tr:hover {
    background-color: rgba(61, 98, 181, 0.12)
  }
  tr.clickable-row.even:hover  {
    background-color: rgba(61, 98, 181, 0.12)
  }
  tr.clickable-row.even {
      background-color: #F9F9F9
  }
  th {
    background-color: #3584B9;
    color: white;
  }
}

.table.inner {
  tr:hover {
    background-color: rgba(61, 98, 181, 0.12)
  }
  th {
    background-color: #4CAF50;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2
  }
  tr:nth-child(even):hover {
    background-color: rgba(61, 98, 181, 0.12)
  }
  margin-bottom:0px;
}

.table {
  tr:hover {
    background-color: rgba(61, 98, 181, 0.12)
  }
  th {
    background-color: #3584B9;
    color: white;
  }
}

/*---- Characters ----*/
img.charImg {
  width: 40px;
}


/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}

    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links{
      margin-bottom: 0px
    }
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }

    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }

        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#3584B9;
            font-size:16px;
            font-weight:600;
            color:white;
            transition:all linear 0.15s;
        }

        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }

    li.active a, li.active a:hover {
        background:#F5F5F5;
        color:#4c4c4c;
    }

    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#F5F5F5;
    }

        .tab {
            display:none;
        }

        .tab.active {
            display:block;
        }
